.menu ul{
    display: flex;
      
}
.menu ul li{
    list-style: none;
    margin-left: 22px;
}
.menu ul li a{
    text-decoration: none;
    color: gray;
        
}

.arriba img{
    height: 500px;
    width: 500px;
    }
    .caja_fotos img{
       height: 100pt;
    }